<div class="container">
  
<div>
  <h3>Curiosidades:</h3>
  <h2>
    DICAS: Na lateral esquerda da página principal, existe um menu com opções de
    pesquisar quizes (por obra ou autor), conferir o ranking e os quizes mais
    acessados e conhecer sobre os nossos EMBLEMAS.
  </h2>
  <h2>
    Ao cadastrar quizes, de um mesmo autor ou mesma obra, dentro do X-ObraLiter
    o usuário recebe EMBLEMAS e um bônus em sua classificação no ranking.
    Exemplo:
  </h2>
  <ul>
    <li>
      Ao atingir 1.500 PONTOS, se adquire um emblema BRONZE!
    </li>
    <li>
      Ao atingir 2.500 PONTOS, se adquire um emblema PRATA!
    </li>
    <li>
      Ao cadastrar 3.500 PONTOS, se adquire um emblema OURO!
    </li>
  </ul>
  <P>
    Ao responder a pergunta dentro do tempo, a pontuação é maior, acumulando mais pontos, caso acerte a questão.
  </P>
  <p>Para participar, inicie sua sessão <a routerLink="/login">aqui</a>!</p>
</div>

</div>