<div class="container">
  
<div>
  <h3>Curiosidades:</h3>
  <h2>
    DICAS: Na lateral esquerda da página principal, existe um menu com opções de
    pesquisar quizes (por obra ou autor), conferir o ranking e os quizes mais
    acessados e conhecer sobre os nossos EMBLEMAS.
  </h2>
  <h2>
    Ao cadastrar quizes, de um mesmo autor ou mesma obra, dentro do X-ObraLiter
    o usuário recebe EMBLEMAS e um bônus em sua classificação no ranking.
    Exemplo:
  </h2>
  <ul>
    <li>
      Ao cadastrar 3 quizes aleatórios, se adquire um emblema BRONZE (5 pts)
    </li>
    <li>
      Ao cadastrar 4 quizes do mesmo autor se adquire um emblema PRATA (7 pts)
    </li>
    <li>
      Ao cadastrar 5 quizes da mesma obra se adquire um emblema OURO (10 pts)
    </li>
  </ul>
  <P>
    Ao responder a pergunta dentro do tempo, a pontuação poderá ser de 3 pontos
    e após 1 ponto, caso acerte a questão.
  </P>
  <p>Para participar, inicie sua sessão <a routerLink="/login">aqui</a>!</p>
</div>

</div>