<div class="container">
  <h3>X-ObraLiter</h3>
  <h2>Inicie sua sessão:</h2>
  <div class="col-md-6 offset-md-3">
    <form style="text-align: center" class="was-validated">
      <div class="form-floating mb-3">
        <input [(ngModel)]="login.email" name="email" type="email" class="form-control" id="floatingInput"
          placeholder="nome@exemplo.com.br" required />
        <label for="floatingInput">E-mail</label>
      </div>

      <div class="form-floating mb-3">
        <input [(ngModel)]="login.senha" name="senha" type="password" class="form-control" id="floatingPassword" placeholder="Senha"
          required />
        <label for="floatingPassword">Senha</label>
      </div>

      <div class="row">
        <div class="col 12">
          <div class="btn-group col-3">
            <a routerLink="/users/new"><button type="button" class="btn btn-outline-dark">
                CADASTRAR
              </button></a>
          </div>
          <div class="btn-group col-2">
            <a >
              <button type="button" class="btn btn-outline-dark" [disabled]="" (click)="submit()">INICIAR</button></a>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>