<div class="container">
  <div>
    <h3>Quem Somos:</h3> 
  
    <p>
      O X-ObraLiter tem como finalidade, através de um programa online de
      gamificação, contribuir para que seus usuários se desenvolvam no aprendizado
      de Obras Literárias Brasileiras.
    </p>
  
    <P>
      A gamificação compreende a utilização de ferramentas configuradas no formato
      de jogos, através de novas tecnologias com diferentes contextos. Em um
      cenário educacional são encontradas diversas formas de práticas de
      gamificação, com a intenção de ajudar a compreensão e possibilitar melhorias
      favorecendo a aprendizagem
    </P>
    <p>
      Através da utilização deste sistema você pode criar um quiz personalizado
      para estimular o interesse no aprendizado por meio da gamificação e
      proporcionar o compartilhamento de conhecimento em um ambiente virtual de
      perguntas e respostas visando contribuir com a formação crítica e
      socializante da leitura de Obras Literárias Brasileiras.
    </p>
  
    <p>
      A Equipe X-ObraLiter deseja a você a melhor experiência possível em nosso
      sistema de Gamificação e ficamos a disposição para quaisquer dúvidas ou
      esclarecimentos.
    </p>
    <p>Para participar, inicie sua sessão <a routerLink="/login">aqui</a>!</p>
  </div>
  
</div>