<div class="container">
  <div class="image-top">
    <img src="../../../../assets/imagens/Logo.jpeg" width="140" height="110" />
  </div>
  <h1>Emblemas:</h1>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">OURO</h5>
            <img
              class="card-img-top"
              src="../../../../assets/imagens/1_OURO.gif"
              alt="Imagem de capa do card"
            />
            <p class="card-text">
              Ao cadastrar 5 quizes da mesma obra se adquire um emblema OURO (10
              pts)
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PRATA</h5>
            <img
              class="card-img-top"
              src="../../../../assets/imagens/2_PRATA.gif"
              alt="Imagem de capa do card"
            />
            <p class="card-text">
              Ao cadastrar 4 quizes do mesmo autor se adquire um emblema PRATA (7
              pts)
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">BRONZE</h5>
            <img
              class="card-img-top"
              src="../../../../assets/imagens/3_BRONZE.gif"
              alt="Imagem de capa do card"
            />
            <p class="card-text">
              Ao cadastrar 3 quizes aleatórios, se adquire um emblema BRONZE (5
              pts)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <p>
      Ao cadastrar quizes, você recebe o EMBLEMA e acumula pontos para a classificação
      no ranking.
    </p>
  
    <P>
      Respondendo as perguntas dentro do tempo, a pontuação é maior e acumula mais
      pontos. Inicie sua sessão <a routerLink="/login">aqui</a>!
    </P>
  </div>
  
</div>