<div class="container">
  <div class="image-top">
    <img src="../../../../assets/imagens/Logo.jpeg" width="140" height="110" />
  </div>
  <h1>Emblemas:</h1>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">OURO</h5>
            <img class="card-img-top" src="../../../../assets/imagens/1_OURO.gif" alt="Imagem de capa do card" />
            <p class="card-text">
              Com 3.500 PONTOS, se adquire um emblema OURO!
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PRATA</h5>
            <img class="card-img-top" src="../../../../assets/imagens/2_PRATA.gif" alt="Imagem de capa do card" />
            <p class="card-text">
              Com 2.500 PONTOS, se adquire um emblema PRATA!
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">BRONZE</h5>
            <img class="card-img-top" src="../../../../assets/imagens/3_BRONZE.gif" alt="Imagem de capa do card" />
            <p class="card-text">
              Com 1.500 PONTOS, se adquire um emblema BRONZE!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p>
      Ao cadastrar quizes, você também recebe pontos e melhora sua classificação no ranking.
    </p>

    <p>
      Respondendo as perguntas dentro do tempo, a pontuação é maior acumulando mais
      pontos, caso acerte a questão. </p>
      <p>
        Inicie sua sessão <a routerLink="/login">aqui</a>!
      </p>


  </div>

</div>